<!DOCTYPE html>

{% extends 'musicBox/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="jumbotron p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="jumbotron-heading">{{% review.album.title %}}</h3>
      </div>
      <div class="col-md-4">
        <small class="text-muted">{{% review.user.username %}}</small>
      </div>
      <div class="col-md-4">
        <small class="text-muted">{{% review.Date_Of_Review %}}</small>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>{{ review.Title }}</h3> <small class="text-muted">Score: {{ review.Rating }}</small>
    </div>
  </div>

  <div class="row">
    <p class="text-center">{{ review.Review }}</p>
  </div>

</div>

{% endblock %}
