{% extends 'musicBox/base.html' %}
{% load static_files %}


{% block body_block %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-6">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ MEDIA_URL }}/album_artwork/{{ album.artist }}/{{ album.title }}.jpg"
                  class="card-img-top" alt="">
          </div>
          <div class="row-md-8">
            <div class="card-body">
              {% if album %}
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p><b>Title:</b>{{ album.title }}</p>
                </li>
                <li class="list-group-item">
                  <p><b>Artist:</b>{{ album.artist }}</p>
                </li>
                <li class="list-group-item">
                  <p><b>Released:</b>{{ album.release_date }}</p>
                </li>
                <li class="list-group-item">
                  <p><b>Genre:</b>{{ album.genre }}</p>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-6 text-center">
        <div class="card-body">
          <h3 class="card-title">Tracklist</h3>
          <!-- tracklist from spotify data -->
          {% if album %}
          <ul>
            {% for track in album.tracks %}
            <li>{{ track.track_name }}</li>
          </ul>
          {% else %}
          <p>It seems this album doesn't have any tracks...</p>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  

</div>

{% endblock %}
